$colors: ( "bg-green": #4c8930, "bg-gray": #eceeef, "text-gray": #999999, "bg-white": white, "bg-black": black)

$font: 'Open Sans', sans-serif

$font-size: ("desktop": 16px, "tablet": 16px, "mobile": 12px)

$padding: ( "p-st": 9vw, "p-nd": 21vw, "p-rd": 33vw)
